Name : Kavana M S    Date : 14-09-2024

part 1: Lists
1)Creating and accessing of elements from a list

In [ ]:
fruits=["apple","mango","banana","cherry","litchi"] #list of fruits
print(fruits[1],fruits[3]) #accessing second and fourth element from the list

mango cherry

2) Modifying a list

In [ ]:
fruits = ["apple", "mango", "banana", "cherry", "litchi"]  # list of fruits
fruits.append("orange")  # Add "orange" to the list
print(fruits)
fruits[2] = "strawberry"  # Change the third element (index 2) to "strawberry"
print(fruits)
fruits_2 = fruits.pop()  # Remove the last element from the list and store it in fruits_2
print(fruits)  # Print the removed element

['apple', 'mango', 'banana', 'cherry', 'litchi', 'orange']
['apple', 'mango', 'strawberry', 'cherry', 'litchi', 'orange']
['apple', 'mango', 'strawberry', 'cherry', 'litchi']

3) List Methods

In [ ]:
fruits = ["apple", "mango", "banana","apple", "cherry", "litchi","apple"]
fruits.sort()  # Sort the list in ascending order
print(fruits)
fruits.reverse()  # Reverse the order of elements in the list
print(fruits)
print(fruits.count("apple"))  # Count the occurrences of "apple" in the list

['apple', 'apple', 'apple', 'banana', 'cherry', 'litchi', 'mango']
['mango', 'litchi', 'cherry', 'banana', 'apple', 'apple', 'apple']
3

Part 2 : Tuples
1) Create and access elements

In [ ]:
num=(10,20,30,40,50)
print(num[0]) #printing 1st element
print(num[4]) #printing last element

10
50

2) Immutable nature of tuples

In [ ]:
num=(10,20,30,40,50)
num[2]=25 #trying to change the values in the tuple

TypeError: 'tuple' object does not support item assignment

3) Tuple Operation

In [3]:
num=(10,20,30,40,50)
a,b,c,d,e=num #assigning the values of the tuples to 5 different variables
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=",e)

a= 10
b= 20
c= 30
d= 40
e= 50

Part 3: Dictionaries
1) Create and access elements

In [4]:
dict_1={"name":"john","age":"20","subject":["math","physics","chemistry"]}
print(dict_1["age"])

20

2) Modify the dictionary

In [9]:
dict_1={"name":"john","age":"20","subject":["math","physics","chemistry"]}
dict_1["grade"]="A" #adding new value to dictionary
dict_1["age"]=21 #changing the value of age
dict_1.pop("subject") #removing the subject key
print(dict_1)

{'name': 'john', 'age': 21, 'grade': 'A'}

3) Dictionary Methods

In [11]:
dict_2={'name': 'john', 'age': 21, 'grade': 'A'}
print(dict_2.keys()) #printing the keys of the dictionary
print(dict_2.values()) #printing the values of the dictionary

dict_keys(['name', 'age', 'grade'])
dict_values(['john', 21, 'A'])